In [1]:
%cd /data/jupyter/root/ECNU/DataMining/L06-FileLoading/

/data/jupyter/root/ECNU/DataMining/L06-FileLoading

In [2]:
from __future__ import division
import os, sys

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
import platform
system = platform.system()
system

'Linux'

In [4]:
%pwd

'/data/jupyter/root/ECNU/DataMining/L06-FileLoading'

In [5]:
if system == 'Windows':
    !type data\ex1.csv
elif system == 'Linux':
    !cat data/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

# CSV

In [6]:
pd.read_csv('data/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_table('data/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
!cat data/ex3.csv

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [9]:
pd.read_table('data/ex3.csv', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [10]:
pd.read_csv('data/ex2.csv')# 默认取第一行

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [11]:
pd.read_csv('data/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [22]:
pd.read_csv('data/ex2.csv', names=['a', 'b', 'c'])# 指定

       a   b      c
1 2    3   4  hello
5 6    7   8  world
9 10  11  12    foo

In [20]:
pd.read_csv('data/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])# 指定

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
pd.read_csv('data/ex2.csv', header=None, index_col=[4])

       0   1   2   3
4
hello  1   2   3   4
world  5   6   7   8
foo    9  10  11  12

In [14]:
!cat data/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [15]:
pd.read_csv('data/csv_mindex.csv')

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [16]:
pd.read_csv('data/csv_`mindex.csv', index_col=['key1', 'key2'])

FileNotFoundError: [Errno 2] File b'data/csv_`mindex.csv' does not exist: b'data/csv_`mindex.csv'

In [ ]:
!cat data/ex4.csv

In [ ]:
pd.read_csv('data/ex4.csv', skiprows=[0, 2, 3], skipfooter=2, index_col='message', engine='python')

In [ ]:
!cat data/ex5.csv

In [ ]:
pd.read_csv('data/ex5.csv')

In [ ]:
pd.read_csv('data/ex6.csv', nrows=3)

In [ ]:
chunker = pd.read_csv('data/ex6.csv', chunksize=1000)

# Excel

In [ ]:
%pip install xlrd

In [ ]:
xls_file = pd.ExcelFile('data/address.xls')
xls_file

In [ ]:
table = xls_file.parse('Sheet1')
table

In [ ]:
tb1 = pd.ExcelFile('data/Pub.xls').parse('Author')
tb1

In [ ]:
tb2 = pd.ExcelFile('data/Pub.xls').parse('Paper')
tb2

In [ ]:
tb3 = pd.ExcelFile('data/Pub.xls').parse('Sheet3')
tb3

In [ ]:
PAfull = pd.merge(tb3, tb2, left_on='PaperId', right_on='Id')
PAfull

# JSON

In [ ]:
tweets = pd.read_json(open('data/tweets.json'))
tweets

# requests

In [ ]:
import requests
key = '2019-nCov'
url = 'https://www.baidu.com/s?wd=ncov'
url

In [ ]:
resp = requests.get(url)
resp.text

In [ ]:
import json
# data = json.loads(resp.text)
data